*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #1e1d1d;
  --text-color: #ffff;
  --placeHolder-color: rgb(34, 103, 98);
}

body {
  background-color: var(--background-color);
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}

.heading {
  color: var(--text-color);
  text-align: center;
  position: relative;
  top: 70px;
  right: 20px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}
.formWrapper p {
  color: var(--text-color);
  font-weight: lighter;
  margin: 15px 15px;
}

.formWrapper .inputWrapper input {
  width: 85%;
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px inset rgb(47, 43, 43);
  outline: none;
}

.formWrapper .inputWrapper p {
  margin: 14px;
}

.formWrapper .submitBtn {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  right: 60px;
  top: 25px;
}

.formWrapper .submitBtn button {
  padding: 8px;
  width: 30%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}

.formWrapper .submitBtn button:hover {
  background-color: rgba(1, 0, 0, 0.5);
  color: var(--text-color);
  box-shadow: inset 2px 2px rgba(0.5, 0.6, 0.2, 0.6);
  text-shadow: 0px 2px 4px var(--text-color);
}

.inputWrapper input.valid{
  border: 3px solid #36cc36;
}

.inputWrapper input.inValid{
  border: 3px solid orange;
}