@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Josefin+Sans:ital,wght@1,500&family=Lato&family=Poppins:ital,wght@0,200;0,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../img/bacground.jpg") center/cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.inputWrapper {
  margin: 23px;
  margin-right: 70%;
  padding: 8px 8px;
}

.inputWrapper label {
  margin-left: 98px;
  cursor: pointer;
  width: 250px;
  display: flex;
  font-size: 18px;
}

.inputWrapper input {
  accent-color: green;
  cursor: pointer;
}

form {
  background-color: cadetblue;
  text-align: center;
  padding: 8% 8%;
  width: 38%;
  border-radius: 20px;
  animation: sliding 1s;
  -webkit-animation: sliding 1s;
  box-shadow: 0 5px 8px rgba(0.3, 0.4, 0.3, 0.8);
}

h2 {
  margin-bottom: 90px;
}

.timer {
  color: black;
  float: right;
  margin-right: -15%;
  margin-top: -80px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  cursor: progress;
}

input[type="submit"] {
  padding: 8px 8px;
  margin: 7px 7px;
  position: absolute;
  margin-top: 40px;
  margin-left: -10%;
  font-size: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="reset"] {
  float: right;
  margin-top: 40px;
  padding: 8px 8px;
  position: absolute;
  font-size: 15px;
  margin-left: 13%;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type='checkbox']{
  position: absolute;
  margin-right: 60px;
}

input[type="reset"]:hover {
  background: black;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  letter-spacing: 2px;
}

input[type="submit"]:hover {
  background: black;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  letter-spacing: 2px;
}

@keyframes sliding {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@media screen and (max-width: 660px) {
  .timer {
    margin-top: -40px;
    font-size: 10px;
  }
  h2 {
    margin-top: 30px;
  }
}
